
<section id="header" class="container">
  <div class="logo">
    <img id="logo" src="../../assets/images/logo2.webp" width="50" />
  </div>
  <div class="auth">
    <dx-button
      [stylingMode]="'outlined'"
      [type]="'default'"
      [text]="'تسجيل الدخول'"
      [width]="130"
    >
    </dx-button>
  </div>
  <div class="auth">
    <dx-button
      [stylingMode]="'outlined'"
      [type]="'default'"
      [text]="'التسجيل'"
      [width]="100"
    >
    </dx-button>
  </div>

  <div class="item">
    <dx-button [stylingMode]="'outlined'" [type]="'default'" [text]="'التسجيل'" [width]="100">
    </dx-button>
  </div>
  <div class="item">
    <dx-button [stylingMode]="'outlined'" [type]="'default'" [text]="'التسجيل'" [width]="100">
    </dx-button>
  </div>
  <div class="item">
    <dx-button [stylingMode]="'outlined'" [type]="'default'" [text]="'التسجيل'" [width]="100">
    </dx-button>
  </div>
</section>
