<section id="sttistics">
  <div >
    <ul class="container">

      <li id="item_first_chid" style="float:left">
        <img src="../../../assets/icons/total_members.png" alt="" />
        <h1 countUp startVal="17" endVal="1100"></h1>
      </li>

      <li class="item">
        <img src="../../../assets/icons/total_teachers.png" alt="" />
        <h1 countUp startVal="1500" endVal="2000"></h1>
      </li>

      <li class="item">
        <img src="../../../assets/icons/total_lesson.png" alt="" />
        <h1 countUp startVal="10" endVal="500"></h1>
      </li>

      <li id="item_last_chid" style="float:right">
        <img src="../../../assets/icons/total_magazine.png" alt="" />
        <h1 countUp startVal="30" endVal="1200"></h1>
      </li>
      
    </ul>
  </div>
</section>
