

.item {
    display: inline-block;
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
}

#item_first_chid {
    display: inline-block;
    list-style-type: none;
}

#item_last_chid {
    display: inline-block;
    list-style-type: none;
}