<p>
  <app-images-slider></app-images-slider>
  <app-statistics></app-statistics>
</p>

<p>
  <app-advice></app-advice>
</p>

<p>
  <app-news></app-news>
</p>

<!-- <div id="page">
  <dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>

    <dxi-col [ratio]="1"></dxi-col>

    <dxi-item>
      <dxi-location [row]="0" [col]="0" [colspan]="3"></dxi-location>
      <dxi-location [row]="1" [col]="0" [colspan]="2"></dxi-location>
      <div *dxTemplate class="header item">
        <p>Header</p>
      </div>
    </dxi-item>
    <dxi-item>
      <dxi-location [row]="1" [col]="0" screen="lg"></dxi-location>
      <dxi-location [row]="2" [col]="0" [colspan]="2"></dxi-location>
      <div *dxTemplate class="content item">
        <p>
          <app-images-slider></app-images-slider>
          <app-statistics></app-statistics>
          <app-advice></app-advice>
          <app-news></app-news>
        </p>
      </div>
    </dxi-item>

    <dxi-item>
      <dxi-location [row]="3" [col]="0" [colspan]="3"></dxi-location>
      <dxi-location [row]="4" [col]="0" [colspan]="2"></dxi-location>
      <div *dxTemplate class="footer item">
        <p>Footer</p>
      </div>
    </dxi-item>
  </dx-responsive-box>
</div> -->
