<!-- <p>
  <app-images-slider></app-images-slider>
  <app-statistics></app-statistics>
</p>

<p>
  <app-advice></app-advice>
</p>

<p>
  <app-news></app-news>
</p> -->

<dx-responsive-box
  singleColumnScreen="sm"
  [(screenByWidth)]="screen"
  id="responsive_box"
>
  <!-- for image slider -->
  <dxi-row></dxi-row>
  <!-- for statistics -->
  <dxi-row></dxi-row>
  <!-- for Teachers -->
  <dxi-row></dxi-row>
  <!-- for news -->
  <dxi-row></dxi-row>
  <!-- for advices -->
  <dxi-row></dxi-row>

  <!--      image slider     -->
  <dxi-item>
    <dxi-location [row]="0"></dxi-location>
    <div *dxTemplate>
      <app-images-slider></app-images-slider>
    </div>
  </dxi-item>

  <!--      statistics     -->

  <dxi-item>
    <dxi-location [row]="1"></dxi-location>
    <div *dxTemplate id="statistics">
      <app-statistics></app-statistics>
    </div>
  </dxi-item>

  <!--      Teachers     -->

  <dxi-item>
    <dxi-location [row]="2"></dxi-location>
    <div *dxTemplate></div>
  </dxi-item>

  <!--      news     -->
  <dxi-item>
    <dxi-location [row]="2"></dxi-location>
    <div *dxTemplate>
      <app-news></app-news>
    </div>
  </dxi-item>

  <!--      advices     -->
  <dxi-item>
    <dxi-location [row]="2"></dxi-location>
    <div *dxTemplate>
      <app-advice></app-advice>
    </div>
  </dxi-item>
</dx-responsive-box>
